# Xcode
DerivedData/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/

# Swift Package Manager
.build/
Packages/
/.swiftpm/

# CocoaPods (if ever used)
Pods/

# Carthage (if ever used)
Carthage/Build/

# Fastlane (if used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Logs
*.log

# Env
backend/.env.local

# Backups
.backups/
